/* Empty. Add your own CSS if you like */
.bg{
	background-color: #1F98E3 !important;
	color: white !important;
	max-width: 1000px;
	font-size: 15px!important;
	/* background-repeat: no-repeat;
 background-position: 50%;
 height: 100%;
 background-image: url('../img/hsa.jpg');
 background-size:cover; */
}
.tabs-color-dark>.tabs{
	
   color: #496E9B !important
}
.tabs-background-stable>.tabs{
	margin-top:45px;
	background-color: #496E9B !important;
	
}
 .tabs-striped.tabs-custom .tab-item.tab-item-active  {
    margin-top: -1px;
    color: #fff;
   
    border-bottom-width: 3px ! important;
    border-color: #fff; }
/* .tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    
    background: #6CA0DA;
	color: white;
	
} */


.mynavbar{
  height: 200px !important;
   background: black !important
}


a{
  text-decoration: none;
}
.item1{
	  background-color: #F4F4F4;
	    font-size: 20px;
		
		
		/* text-align:justify; */
		
  
}
.column1{
	margin-left:90px;
}
.col1{
background:     #ebdef0 ;
padding: 10px;
margin-left:50px;
}
/* .item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px; }
 */
.input-box[type=text] {
   height:25px;
   border: 0;
   width: 100%; 
   margin-left:-15px; 
 
  box-shadow: -5px 10px 0px -7px #dedede, 5px 10px 0px -7px #dedede;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s; 
}
.input-boxfocus[type=text]:focus {
   outline: none; 
  box-shadow: -5px 10px 0px -7px #547AAC, 5px 10px 0px -7px #547AAC; 
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.no-padding {
    padding: 0px !important;
}
.coli{
	
    background: -webkit-linear-gradient( #FF9C1B , #FFC837); /* Chrome 10-25, Safari 5.1-6 */
    
}
.barcol{
	 background-color:#00B1DA;
}
.item-select select
{
	left:0;
    right: auto;
    padding: 13px 45px 15px 10px;
    direction: ltr;
}
.home-head {
	font-size:20px;
	font-family: Helvetica;
	/*color: #D55D09;*/
	color:#5A5B5B;
	 padding-top: 13px;
	border-bottom:2px; 
}
.home-head1
{
	
	font-size:14px;
	font-family: Helvetica;
	color: #454b4e;
}
.content-head{
	font-size:18px;
	font-family: Helvetica;
	color: #8f8f8f;
}
.sub-head {
	font-size:20px;
	font-family: Helvetica;
	color: #00aff0;
}

.lineBreakHeader{
	border-bottom: thin solid #cae4ee; 
	padding-top:10px;
}

.lineBreak{
	border-bottom: thin solid #00aff0;
	/*color:#00aff0;*/
	color:#077db4;
	font-family: Helvetica;
	font-size:18px;
	width: 95%;
	margin-top: -10px;
}

.HeadLine{
	/*color:#00aff0;*/
	color:#077db4;
	font-family: Helvetica;
	font-size:16px;
	
}

.lineValueText{
	/*color:#00aff0;*/
	color:#077db4;
	font-family: Helvetica;
	font-size: 17px;
	padding-top: 0px;
}

.lineHead{
	color:#D55D09;
	font-family: Helvetica;
	font-size: 16px;
	padding-top: 6px;
}

.headerborder
{
	border-bottom-width:2px;
	border-bottom-color:#454b4e;
}

.centerforhead {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.contactfont{
	font-family: Helvetica;
	font-size: 16px;	
}
.accountcontent{
	margin-left:20px; 
	margin-top:32px;
}
.accountsubcontent{
	margin-left:20px; 
	margin-top:10px;
}
.subtitle{
	margin-left:20px; 
	margin-top:20px;
}

.headertitle{
	margin-top:-22px;
	margin-left:41px;
}
.runstatement-button{
	background-color:#29B8E5;
	color:#fff;
	height:40px;
	font-size:15px;
}
.menupadding{
	margin-top:10px;
}
.formselect{
	width:100%; 
	border-bottom:#DEDEDE solid; 
	margin-left:5px;
	border-top:none; 
	border-left:none; 
	border-right:none;
}
.formcard{
	margin-left:10px;
}
.formlabel{
   border:none;
}
.forminput{
	color:#444; 
	padding-left:10px;
}
.formButton{
	background-color: #29B8E5;
	color:#fff;
	border-radius:8px;
}

.newTop{
	margin-top:20px;
}
.footer{
	background-color:#DEDEDE;
	
}
.shadow {
	 box-shadow: 0 10px 10px -10px #999999;
	/* box-shadow: 0 0 20px  #909090; border-bottom-color: #D55D09;*/
	
 
}
.footerborder
{
	border-top-width:2px;
	border-top-color:#454b4e;
	font-family: Helvetica;
	font-size: 15px;
	
}
.footerborder .title {
	font-family: Helvetica;
}
.footertext{
	margin-left:11px;
}
.cardshadow{
	box-shadow: 0px 0px 15px 1px rgba(144,144,144,0.73);
}

.text-center1{
	text-align: center;
	font-size:35px;
	
}
.menu-height{
	height:140px; 	
}
.menu-head{
	 padding-top: 40px;
}

.cardContent{
	margin-left:15px;
}



.card_margin{
width:95%;
margin-left:0px;
	
}

.readMore
{
	float:right;
	color:#077db4;
}




