/* Empty. Add your own CSS if you like */
.bg{
	/* background-color: #1F98E3 !important; */
	color: #000 !important;
	/* max-width: 1000px; */
	font-size: 15px!important;
	eafafa
	e6e6ff
}
.tabs-color-dark>.tabs{
	
   color: #000 !important
}
.tabs-background-stable>.tabs{
	margin-top:45px;
	background-color: #fff !important;
	
}
 
 .tabs-striped.tabs-custom .tab-item.tab-item-active  {
    margin-top: -1px;
    color: #000 ! important;   
    border-bottom-width: 3px ! important;
    border-color: #000; 
	font-weight:bold;
	}
/* .tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    
    background: #6CA0DA;
	color: white;
	
} */


.mynavbar{
  height: 200px !important;
   background: black !important
}


a{
  text-decoration: none;
}
.item1{
	  background-color: #F4F4F4;
	    font-size: 20px;
		
		
		/* text-align:justify; */	
  
}
.column1{
	margin-left:90px;
}
.col1{
background:     #ebdef0 ;
padding: 10px;
margin-left:50px;
}
/* .item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px; }
 */
.input-box[type=text] {
   height:25px;
   border: 0;
   width: 100%; 
   margin-left:-15px; 
  box-shadow: -5px 10px 0px -7px #dedede, 5px 10px 0px -7px #dedede;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s; 
}
.input-boxfocus[type=text]:focus {
   outline: none; 
  box-shadow: -5px 10px 0px -7px #547AAC, 5px 10px 0px -7px #547AAC; 
}

.input-box1[type=number] {
   height:25px;
   border: 0;
   width: 100%; 
   margin-left:-11px;  
 
   box-shadow: -5px 10px 0px -7px #dedede, 5px 10px 0px -7px #dedede;
  -webkit-transition: box-shadow 0.3s;
   transition: box-shadow 0.3s; 
}
.input-boxfocus1[type=number]:focus {
   outline: none; 
   box-shadow: -5px 10px 0px -7px #547AAC, 5px 10px 0px -7px #547AAC; 
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.no-padding {
    padding: 0px !important;
}
.coli{
	
    background: -webkit-linear-gradient( #FF9C1B , #FFC837); /* Chrome 10-25, Safari 5.1-6 */
    
}
.barcol{
	 background-color:#00B1DA;
}
.item-select select
{
	left:0;
    right: auto;
    padding: 13px 45px 15px 10px;
    direction: ltr;
	 max-width: 100%;
    width: 100%;
}
.home-head {
	font-size:20px;
	font-family: Helvetica;
	/*color: #D55D09;*/
	color:#000;
	 padding-top: 3px;
	border-bottom:2px; 
}
.home-head1
{
	
	font-size:14px;
	font-family: Helvetica;
	color: #454b4e;
}
.content-head{
	font-size:18px;
	font-family: Helvetica;
	color: #8f8f8f;
}
.sub-head {
	font-size:20px;
	font-family: Helvetica;
	color: #00aff0;
}

.lineBreakHeader{
	border-bottom: thin solid #cae4ee; 
	padding-top:10px;
}

.lineBreak{
	border-bottom: thin solid #00aff0;
	/*color:#00aff0;*/
	color:#077db4;
	font-family: Helvetica;
	font-size:18px;
	width: 95%;
	margin-top: -10px;
}

.HeadLine{
	/*color:#00aff0;*/
	color:#077db4;
	font-family: Helvetica;
	font-size:16px;
	
}

.lineValueText{
	/*color:#00aff0;*/
	color:#077db4;
	font-family: Helvetica;
	font-size: 17px;
	padding-top: 0px;
}

.lineHead{
	color:#D55D09;
	font-family: Helvetica;
	font-size: 16px;
	padding-top: 6px;
}


.headerbotborder{
	border-bottom-width:2px !important;
	border-bottom-color:#454b4e !important; 
	
}

	


.centerforhead {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.contactfont{
	font-family: Helvetica;
	font-size: 16px;	
}
.accountcontent{
	margin-left:20px; 
	margin-top:32px;
}
.accountsubcontent{
	margin-left:20px; 
	margin-top:10px;
}
.subtitle{
	margin-left:20px; 
	margin-top:20px;
}

.headertitle{
	margin-top:-22px;
	margin-left:41px;
}
.runstatement-button{
	background-color:#29B8E5;
	color:#fff;
	height:40px;
	font-size:15px;
}
.menupadding{
	margin-top:10px;
}
.formselect{
	width:100%; 
	border-bottom:#DEDEDE solid; 
	margin-left:5px; 
	border-top:none; 
	border-left:none; 
	border-right:none;
}

.formcard{
	margin-left:10px;
}
.formlabel{
   border:none;
}
#forminput{
	color:#444; 
	 padding-left:13px; 
	/* margin-left:40px; */
}
.formButton{
	background-color: #29B8E5;
	color:#fff;
	border-radius:8px;
	text-align:center;
}

.newTop{
	margin-top:20px;
}
.footer{
	background-color:#DEDEDE;
	
}
.shadow {
	 box-shadow: 0 10px 10px -10px #999999;
	/* box-shadow: 0 0 20px  #909090; 
	border-bottom-color: #D55D09;*/
	
 
}
.footerborder
{
	border-top-width:2px;
	border-top-color:#454b4e;
	font-family: Helvetica;
	font-size: 15px;
	
}
.footerborder .title {
	font-family: Helvetica;
}
.footertext{
	margin-left:11px;
}
.cardshadow{
	box-shadow: 0px 0px 15px 1px rgba(144,144,144,0.73);
}

.text-center1{
	text-align: center;
	font-size:35px;
	
}
.menu-height{
	height:140px; 	
}
.menu-head{
	 padding-top: 40px;
}

.cardContent{
	margin-left:15px;
	margin-top:30px;
	
}



.card_margin{
width:95%;
margin-left:0px;
	
}

.readMore
{
	float:right;
	color:#077db4;
}


.head-details
{
	font-size: 16px;
	color: #E32626;
}
.head-details1
{
	font-size: 16px;
	color: #e67e22;
}

.headerborder
{
	background-color:#E67E22;
}


.lineHead1{
	color:#077db4;
	font-family: Helvetica;
	font-size: 16px;
	padding-top: 6px;
}

.lineValueText1{
	/*color:#00aff0;*/
	color:#fff;
	font-family: Helvetica;
	font-size: 17px;
	padding-top: 0px;
}
.home-head2 {
	font-size:20px;
	font-family: Helvetica;
	/*color: #D55D09;*/
	color:#fff;
	 padding-top: 3px;
/* 	border-bottom:2px !important;  */
}
.colvertical{
	
	border-right:1px solid;
	border-right-color: #9A9A9A;
	height:50px;
}
.row-border{
	margin-top:10px;
	border-top: 1px solid;
	border-top-color: #9A9A9A;
	
}
.button-top{
	margin-top:07px;
}
.headercolor{
	  background: -webkit-linear-gradient(left,
	  #b74806,
	  #d05207,
	  #D65E09,
#d8640a,
#E3741B,
#ef6e0b,
#f57b1d,
#f68833,
#f7954a
)!important ;/* Chrome 10-25, Safari 5.1-6 */
	
	  
}
.hsacard-height{
	height:100px;
}




