 <ion-header-bar id="headerborder" class="headerborder" >
	<div class="home-head2" ng-click="goback();">
		<i ng-click="goback();" class="ion ion-arrow-left-c back-icon"></i>
	</div>
	<div class="home-head2">
		<p class="headertitle">HRA New Claim Request</p>
	</div>
</ion-header-bar>

<style>
	.list{
		padding-top: 20px !important;
	}
</style>
   
<ion-view>
	<ion-content class="bgnew">
		<div class="list">
			<label class="item item-input item-select formselect " >
				<span class="input-label">
				select
				</span>

				<select  name="selectplantype" ng-change="redirectTo(plan_type);plan_type='null'" ng-model="plan_type" ng-options="plan.MEANING for plan in plan_types" required>
					<option selected disabled value="" class="ItemlineHead1"> Select Plan</option>
				</select>
			</label>
		</div>
	</ion-content>
</ion-view>
