<ion-header-bar class="headerborder" >
	
	<div class="home-head2 ">
		<i ng-click="goback();" class="ion ion-arrow-left-c"></i>
    </div>
    <div class="home-head2">
		<p ng-click="goback();" style="margin-top:3px;margin-left:20px">Account Information</p>
	</div> 
</ion-header-bar>
<ion-view>

     		
    <ion-content scroll="false">

		<div class=" headerborder">
			<div  style="margin-left:20px; padding-top:32px; padding-bottom:03px;">
				<p><span class="lineHead1 cardContent">Account number</span><br><span class="lineValueText1 cardContent">{{account_information.ACC_NUM}}</span></p>
				<p><span class="lineHead1 cardContent">Plan</span><br><span class="lineValueText1 cardContent">{{account_information.PLAN_NAME}}</span></p>
				<p><span class="lineHead1 cardContent">HSA effective date</span><br><span class="lineValueText1 cardContent">{{account_information.EFFECTIVE_DATE}}</span></p>
				<p><span class="lineHead1 cardContent">Account balance</span><br><span class="lineValueText1 cardContent">{{account_information.ACCT_BALANCE}}</span></p>
				
			</div>
		</div>
		
		
		<div class="subtitle">
			<p class="HeadLine">Total Contributions</p>
			<!-- <p class="lineBreak"></p> -->
		</div>
		
		<div class="card card_margin cardshadow">
			<div class="accountsubcontent" >
				<p><span class="lineHead cardContent">Total contributions for 2016</span><br><span class="lineValueText cardContent">${{total_contributions.CONTRB_LIMIT}}</span></p>
				<p><span class="lineHead cardContent">Allowable contributions remaining for 2016</span><br><span class="lineValueText cardContent">${{total_contributions.CURRENT_YR_CONTRB}}</span></p>
				<p><span class="lineHead cardContent">HSA effective date</span><br><span class="lineValueText cardContent">{{total_contributions.EFFECTIVE_DATE}}</span></p>
				<p><span class="lineHead cardContent">Total disbursement for 2016</span><br><span class="lineValueText cardContent">${{total_contributions.TOTAL_DISB_AMOUNT}}</span></p>
			</div>
		</div>
		
  </ion-content>
  </ion-view>
  <ion-footer-bar  class="footerborder" >
 
        <p class=" footertext"> &copy Sterling Administration.All Rights Reserved.</p>
  
 </ion-footer-bar>
  


