<ion-header-bar >
	<div class="home-head "  >
		<img src="img/back_icon.svg" ng-click="goback();"><p style="margin-top:-22px;margin-left:35px">Account Information</p>
	</div>
</ion-header-bar>
<ion-view>
    <ion-content>
		<div style="margin-left:20px; margin-top:10px">
			<p><span class="lineHead">Account number</span><br><span class="lineValueText">5847</span></p>
			<p><span class="lineHead">Plan</span><br><span class="lineValueText">hsa</span></p>
			<p><span class="lineHead">HSA effective date</span><br><span class="lineValueText">22.08.2016</span></p>
			<p><span class="lineHead">Account balance</span><br><span class="lineValueText">$26.08</span></p>
		</div>
		<div style="margin-left:20px; margin-top:20px">
			<p class="HeadLine">Total Contributions</p>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px">
			<p><span class="lineHead">Total contributions for 2016</span><br><span class="lineValueText">$12</span></p>
			<p><span class="lineHead">Allowable contributions remaining for 2016</span><br><span class="lineValueText">$10</span></p>
			<p><span class="lineHead">HSA effective date</span><br><span class="lineValueText">22.08.2016</span></p>
			<p><span class="lineHead">Total disbursement for 2016</span><br><span class="lineValueText">$26.08</span></p>
		</div>
		
		<!--
			This bellow coding used for shwoing all the content 
			-->
			<!-- <div style="height: 200px;"></div> -->
  </ion-content>
</ion-view>
