<ion-header-bar id="headerborder" class="headerborder" >
    
	<!-- <div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div> -->
	<div class="home-head2 ">
		  <i ng-click="goback();" class="ion ion-arrow-left-c"></i>
      </div>
    <div class="home-head2 ">
		<p style="margin-top:3px;margin-left:20px">Account Activity</p>
	</div>
</ion-header-bar >

<ion-view >
  <style>
    
    .div{
      text-align: center;
      padding: 30px;
    }
  </style>
  <ion-content scroll="false">
	
	
    <div class="div newTop">
		<a href="#/activityContribution" menu-close style="text-decoration:none ;color:black">
			<img src="img/home/Contributions2.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Contributions</p>
		</a>
    </div>
    <div class="div">
		<a href="#/disbursement" menu-close style="text-decoration:none ;color:black">
			<img src="img/home/Disbursements.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Disbursements</p>
		</a>
    </div>
 
    
  </ion-content>
  
</ion-view>
<ion-footer-bar  class="footerborder" >
 
        <p class="footertext">&copy; 2016 Sterling Administration. All Rights Reserved.</p>
  
</ion-footer-bar>