<ion-header-bar class="headerborder" >
	<div class="home-head "  >
		  <img src="img/back_icon.svg" ng-click="goback();"><p style="margin-top:-22px;margin-left:35px">Contribution Activity</p>
	 </div>
</ion-header-bar>

<ion-view  >
  <style>
    
     .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>  
	
	
   <div class="div">
		<a href="#/scheduledcontribute" menu-close style="text-decoration:none ;color:black">
			<img src="img/new/Scheduled_contributions.png" style="height: 100px; width: 100px;">
			<p class="home-head">Scheduled Contributions</p>
		</a>
    </div>
     <div class="div">
		<a href="#/recent" menu-close style="text-decoration:none ;color:black">
			<img src="img/new/Last5contributions.png" style="height: 100px; width: 100px;">
			<p class="home-head">Last 5 contributions</p>
		</a> 
    </div>
	<!--the below code used for Scrolling -->
	<div style="height: 150px;"></div>
  </ion-content>
</ion-view>

