<ion-header-bar class="headerborder" >
    <div class="home-head "  >
		<img src="img/back_icon.svg" ng-click="goback();"><p class="headertitle">Account Activity</p>
	</div>
</ion-header-bar >

<ion-view >
  <style>
    
    .div{
      text-align: center;
      padding: 30px;
    }
  </style>
  <ion-content>
	
	<!-- <div class="home-head lineBreakHeader" ng-click="goback();" >
		<p ><img src="img/back_icon.svg">&nbsp;&nbsp;<span > Account Activity</span></p>
	</div> -->
    
	</div>
    <div class="div newTop">
		<a href="#/activityContribution" menu-close style="text-decoration:none ;color:black">
			<img src="img/home/Contributions2.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Contributions</p>
		</a>
    </div>
    <div class="div">
		<a href="#/disbursement" menu-close style="text-decoration:none ;color:black">
			<img src="img/home/Disbursements.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Disbursements</p>
		</a>
    </div>
 
    
  </ion-content>
</ion-view>