<ion-header-bar class="headerborder" >
	<div class="home-head "  >
		  <img src="img/back_icon.svg" ng-click="goback();"><p style="margin-top:-22px;margin-left:41px"> Available Balance</p>
	   </div>
     
</ion-header-bar>

<ion-view>
<ion-content>
	<div ng-repeat="data in available_balances"> 
	<div style="margin-left:20px; margin-top:32px">
			<p class="HeadLine">{{data.PLAN_DESC}}</p>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px">
			<p><span class="lineHead">Annual Election</span><br><span class="lineValueText">{{data.ANNUAL_ELECTION}}</span></p>
			<p><span class="lineHead">Available Balance</span><br><span class="lineValueText">{{data.BALANCE}}</span></p>
			</div>
		<!-- <div style="margin-left:20px; margin-top:20px">
			<p class="HeadLine">Transit FSA</p>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px">
			<p><span class="lineHead">Annual Election</span><br><span class="lineValueText">$600</span></p>
			<p><span class="lineHead">Available Balance</span><br><span class="lineValueText">$600</span></p>
			<p><span class="lineHead">Status</span><br><span class="lineValueText">success</span></p>
		</div> -->
		</div>
</ion-content>
</ion-view>