<ion-view>
<ion-content>

	<div class="home-head lineBreakHeader" ng-click="goback();" >
		<p ><img src="img/back_icon.svg">&nbsp;&nbsp;<span> Available Balance</span></p>
	</div>

     
      
      <!--  <div class="card">
        <h3 style="color: #b71c1c;font-weight: bold; margin-left:20px; margin-top:10px"; class="home-head">Bicycle FSA</h3>
        <div style="margin-left:20px; margin-top:15x;">
            
                   <p class="content-head"><b>Annual Election</b></p>
				   <p class="sub-head">$240.00</p>
				   <p class="content-head"><b>Available Balance</b></p>
				   <p class="sub-head">$240.00</p>
        </div>
      </div>
    
      <div class="card">
         <h3 style="color: #b71c1c;font-weight: bold; margin-left:20px; margin-top:10px";class="home-head">Transit FSA</h3>
           <div style="margin-left:20px; margin-top:15x";>
	
             <p class="content-head"><b>Annual Election</b></p>
             <p class="sub-head">$600.00</p>
			
             <p class="content-head"><b>Available Balance</b></p>
             <p class="sub-head">$600.00</p>      
          </div>
     
      </div> -->
	  
	  
	<div>
		<div style="margin-left:20px; margin-top:10px">
			<p class="lineBreak">Bicycle FSA</p>
		</div>
		<div style="margin-left:20px; margin-top:15x";>
			<p class="lineHead">Annual Election</p>
			<p class="lineValueText">$240.00</p>
			<p class="lineHead">Available Balance</p>
			<p class="lineValueText">$240.00</p>      
		</div>
	</div>
	<div>
		<div style="margin-left:20px; margin-top:10px">
			<p class="lineBreak">Transit FSA</p>
		</div>
		<div style="margin-left:20px; margin-top:15x";>
			<p class="lineHead">Annual Election</p>
			<p class="lineValueText">$600.00</p>
			<p class="lineHead">Available Balance</p>
			<p class="lineValueText">$600.00</p>      
		</div>
	</div>
	  

</ion-content>
</ion-view>