<ion-header-bar class="headerborder" >
	
     <div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div>
    <div class="home-head ">
		<p style="margin-top:3px;margin-left:20px">Available Balance</p>
	</div> 
</ion-header-bar>

<ion-view>
<ion-content>
	<div ng-repeat="data in available_balances"> 
	<div class="accountcontent">
			<p class="HeadLine">{{data.PLAN_DESC}}</p>
			<p class="lineBreak"></p>
		</div>
		
		<div class="subtitle">
		<p><span class="lineHead">Annual Election</span><br><span class="lineValueText">{{data.ANNUAL_ELECTION}}</span></p>
			<p><span class="lineHead">Available Balance</span><br><span class="lineValueText">{{data.BALANCE}}</span></p>
			</div>
		
		</div>
</ion-content>
</ion-view>
<ion-footer-bar  class="footerborder" >
 
        <p class=" footertext">© 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar>