<ion-view>
    <ion-content style="background-color:#E3E4E5;">
       
<!-- <div class="row" >
		<div class="col col-20" style="background-color:#1C2A36">
			<img src="img/back.jpg" onclick="window.history.back();" style="height:45px;">
		</div>
		<div class="col col-90"  style="background-color:#629AD4">
			<h4 class="" style="color:#fff;padding:5px;padding-left:20px;" >Contact Us</h4>
		</div>
	</div>
	<div class="row hide">
        <div class="col col-center">
          <h3 class="h"><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i>contact us</h3> 
    
        </div>
        
      </div> -->
		 
		
		<div class="home-head lineBreakHeader" ng-click="goback();" >
			<p ><img src="img/back_icon.svg">&nbsp;&nbsp;<span> ContactUs</span></p>
		</div>
		<div class="row hide">
        <div class="col col-center">
          <h3 class="h"><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i> Make Disbursement</h3> 
    
        </div>
		</div> 
  <div class="row responsive-sm">
	  <div class="col col-75 center">
  
  <div class="row no-padding">
	<div class="col col-35">
   <i class="ion-ios-telephone"></i>
   </div>
  
   <div class="col col-90">
  Toll Free Phone:800.617.4729
   <br>Toll Free Phone:877.517.4729<br>
   </div>
   </div>
    <div class="row">
	<div class="col col-35">
   <i class="ion-ios-email"></i>
   </div>
   <div class="col col-90">
    customer.service@sterlingadministration.com
   </div>
</div>


    <div class="row">
	<div class="col col-35">
   <i class="ion-ios-location"></i>
   </div>
   <div class="col col-90">
  
    sterling Administartion<br>
   Broadway,suite 250 1000<br>
   oakland,CA 94607<br>
   Address correspondence to<br>
   P.O box 71107<br>
    oakland,CA 94612<br>
   </div>
   </div>
  
  </div>
  </div>
	   
      <!--  <div class="row">
			<div class="col col-center">
			  <h3 class="h"><i class="ion ion-arrow-left-a" ng-click="backcontrol()"></i>  Contact Us</h3> 
		
			</div>
        
		</div> 
        <br>
        <div class="card">
   <div class="item item-avatar" style="background-color: #aebcd7">
      <img src="img/mobile.png">
        <br>
      <h3 style="text-align: center;color: black;" > 1 800 617 4729</h3>
   </div>

      </div>
        
         <div class="card">
   <div class="item item-avatar" style="background-color: #aebcd7">
      <img src="img/contacts.png">
        <br>
        
      <p style="text-align: center;font-size:10px;color: black; ">CustomerService@SterlingAdministration.com</p>
   </div>

      </div>
       --> 
        
           </ion-content>
</ion-view>