<ion-header-bar class="headerborder" >
	<div class="home-head "  >
		  <img src="img/back_icon.svg" ng-click="goback();"><p style="margin-top:-22px;margin-left:41px">ContactUs</p>
	   </div>
     
</ion-header-bar>


<ion-view>
    <ion-content style="background-color:#fff;">
     
	   <div class="row responsive-sm">
	  <div class="col col-90 center">
	
 <div style="margin-top:30px">
   <div class="row">
	  <div style="">
        <img src="img/call1.png" style="height:40px;width:40px"> 
     </div>
     <div style="margin-left:25px;margin-top:4px" >
       <h5>Toll Free Phone : 800.617.4729</h5>
       <h5>Toll Free Fax : 877.517.4729</h5>
    </div>
 </div>
 
 <br>

 
  <div class="row ">
	  <div style="">
        <img src="img/gmail1.png" style="height:40px;width:40px"> 
     </div>
     <div style="margin-left:15px;margin-top:5px" >
       <h5>customer.service@sterlingadministration.com</h5>
     </div>
 </div>

 <br>
 
  <div class="row">
	  <div style="">
        <img src="img/location1.png" style="height:40px;width:40px"> 
     </div>
     <div style="margin-left:15px;margin-top:4px" >
       <h5>Sterling Administartion</h5>
       <h5>Broadway,suite 250 1000</h5>
       <h5>oakland,CA 94607</h5>
       <h5>Address correspondence to</h5>
       <h5>P.O box 71107</h5>
       <h5>oakland,CA 94612</h5>
    </div>
 </div>
 </div>
 
 </div>
 </div>
  
           </ion-content>
</ion-view>