<ion-header-bar class="headerborder" >
	<div class="home-head "  >
		  <img src="img/back_icon.svg" ng-click="goback();"><p style="margin-top:-22px;margin-left:41px">ContactUs</p>
	   </div>
     
</ion-header-bar>


<ion-view>
    <ion-content style="background-color:#fff;">
     <style>
		h4{
			margin-top: 0px !important;
		}
		@media screen and (max-width: 403px) {
			h4.wrap{
				word-wrap: break-word;
				width:90%;
			}
		}
		@media screen and (max-width: 378px) {
			h4.wrap{
				word-wrap: break-word;
				width:80%;
			}
		}
		@media screen and (max-width: 368px) {
			h4.wrap{
				word-wrap: break-word;
				width:75%;
			}
		}
		@media screen and (max-width: 348px) {
			h4.wrap{
				word-wrap: break-word;
				width:60%;
			}
		}
	 </style>
	   <div class="row responsive-sm">
	  <div class="col col-90 center">
	
 <div style="margin-top:30px">
   <div class="row">
	  <div style="">
        <img src="img/call1.png" style="height:40px;width:40px"> 
     </div>
     <div  style="margin-left:15px;margin-top:4px" >
       <h4 class="contactfont"><a href="tel: 800.617.4729">Toll Free Phone : 800.617.4729</a></h4>
       <h4 class="contactfont">Toll Free Fax : 877.517.4729</h4>
    </div>
 </div>
 
 <br>

 
  <div class="row ">
	  <div style="">
        <img src="img/gmail1.png" style="height:40px;width:40px"> 
     </div>
     <div  style="margin-left:15px;margin-top:5px; word-wrap: break-word;" >
       <h4 class="contactfont wrap"><a href="mailto:customer.service@sterlingadministration.com">customer.service@sterlingadministration.com</a></h4>
	   <!-- <p class="tes"> customer.service@sterlingadministration.com</p> -->
     </div>
 </div>

 <br>
 
  <div class="row">
	  <div style="">
        <img src="img/location1.png" style="height:40px;width:40px"> 
     </div>
     <div class="contactfont" style="margin-left:15px;margin-top:4px" >
       <h4 class="contactfont">Sterling Administartion</h4>
       <h4 class="contactfont">Broadway,suite 250 1000</h4>
       <h4 class="contactfont">oakland,CA 94607</h4>
       <h4 class="contactfont">Address correspondence to</h4>
       <h4 class="contactfont">P.O box 71107</h4>
       <h4 class="contactfont">oakland,CA 94612</h4>
    </div>
 </div>
 </div>
 
 </div>
 </div>
  
           </ion-content>
</ion-view>