<!-- <ion-view hide-nav-bar="false" > -->
<ion-header-bar class="headerborder" >
	
	<div class="home-head "  >
		  <img src="img/back_icon.svg" ng-click="goback();"><p class="headertitle">Disbursement Activity</p>
	   </div>
		
</ion-header-bar>

<ion-view hide-nav-bar="false" >
   <style>
    
     .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>
      
   <!--  <div class="home-head lineBreakHeader" ng-click="goback();" >
		<p ><img src="img/back_icon.svg">&nbsp;&nbsp;<span> Disbursement Activity</span></p>
	</div> -->
   <div class="div newTop"> 
		<a href="#/scheduleddisbursement">
			<img src="img/home/Disbursements.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Scheduled Disbursement</p>
		</a>
    </div>
     <div class="div">
		<a href="#/recentdisburse">
			<img src="img/home/Last5contributions.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Last 5 Disbursement </p>
		</a>
    </div>
  </ion-content>
</ion-view>