<ion-view  style="background-color:#DDDEDF";>
	<ion-content  on-swipe-right="goBack()" >
		<div class="padding" >
			<div class="list">
				<a class="item menu-height shadow item-avatar" href="#information">
					<img src="img/home/us.svg" style="margin-top:32px;">
					<div class="home-head menu-head">Account Information</div>
					<hr>
					<span class="readMore" style=""> 
						View Account <i class="ion-chevron-right"></i>
					</span>	
				</a>
				<a class="item menu-height shadow item-avatar menupadding"  href="#availablebalance">
					<img src="img/home/Availabile_Balance.svg" style="margin-top:32px;">
					<div class="home-head menu-head"> Available Balance</div>
					<hr>
					<span class="readMore" style=""> 
						View Balance <i class="ion-chevron-right"></i>
					</span>	
				</a>
				<a class="item menu-height shadow item-avatar menupadding"  href="#fsacontribution">
					<img src="img/new/Last5contributions1.png" style="margin-top:32px;">
					<div class="home-head menu-head">Recent Account Activity</div>
					
					<div class="row no-padding row-border" >
						<div class="col colvertical" style="border-left-color:#000">
							<button class="button button-small button-top" type="submit"  style="background-color:#e67e22;color:#fff;border-radius:8px;">Contribution</button>
						</div>
						<div class="col">
							<button class="button button-small button-top" type="submit"  style="float:right;background-color:#e67e22;color:#fff;border-radius:8px;">Disbursement</button>
							
						</div>
						
					</div>		
				</a>
				<a class="item menu-height shadow item-avatar menupadding"  href="#new">
					<img src="img/home/ad-client.svg" style="margin-top:32px;">
					<div class="home-head menu-head"> New Claim Request</div>
					
					<div class="row no-padding row-border" >
						<div class="col colvertical" >
							<button class="button button-small button-top " type="submit"  style="background-color:#e67e22;color:#fff;border-radius:8px;">Bicycle FSA</button>
						</div>
						<div class="col">
							<button class="button button-small button-top" type="submit"  style="float:right;background-color:#e67e22;color:#fff;border-radius:8px;">Trasit FSA</button>
							
						</div>
						
					</div>	
				</a>
				
			</div>
			
			<!--
			This bellow coding used for shwoing all the content 
			-->
			<p class="text-center">&copy; 2016 Sterling Administration. All Rights Reserved.</p>
			<div style="height: 120px;"></div>
			<!--  -->
			
		</div>
  </ion-content>
</ion-view>
