<ion-view  style="background-color:#DDDEDF";>
	<ion-content on-swipe-right="goBack()" on-swipe-left="goForward()">
		<div class="padding" >
			<div class="list">
				<a class="item item-avatar" href="#information">
					<img src="img/home/us.svg">
					<div class="home-head">Account Information</div>
				</a>
				<a class="item item-avatar" style="margin-top:5px;"  href="#availablebalance">
					<img src="img/home/Availabile_Balance.svg">
					<div class="home-head"> Available Balance</div>
				</a>
				<a class="item item-avatar" style="margin-top:5px;" href="#recentFSA">
					<img src="img/home/Last5contributions.svg">
					<div class="home-head">Recent Account Activity</div>
				</a>
				<a class="item item-avatar" style="margin-top:5px;" href="#new">
					<img src="img/home/ad-client.svg">
					<div class="home-head"> New Claim Request</div>
				</a>
				
			</div>
			
			<!--
			This bellow coding used for shwoing all the content 
			-->
			<div style="height: 100px;"></div>
			<!--  -->
			
		</div>
  </ion-content>
</ion-view>
