
	<ion-content has-footer="true" hide-nav-bar="true" on-swipe-right="goBack()" style="background-color:#DDDEDF"; >
		<div class="padding" >
			<div class="list">
				<a class="item menu-height shadow item-avatar" href="#information">
					<img src="img/home/us.svg" style="margin-top:32px;">
					<div class="home-head menu-head">Account Information</div>
					<hr>
					<span class="readMore" style=""> 
						View Account <i class="ion-chevron-right"></i>
					</span>	
				</a>
				<a class="item menu-height shadow item-avatar menupadding"  href="#availablebalance">
					<img src="img/home/Availabile_Balance.svg" style="margin-top:32px;">
					<div class="home-head menu-head"> Available Balance</div>
					<hr>
					<span class="readMore" style=""> 
						View Balance <i class="ion-chevron-right"></i>
					</span>	
				</a>
				<span class="item menu-height shadow item-avatar menupadding"  >
					<img src="img/new/Last5contributions1.png" style="margin-top:32px;">
					<a href="#fsacontribution"><div class="home-head menu-head">Recent Account Activity</div></a>
					
					<div class="row no-padding row-border" >
						<div class="col colvertical" style="border-left-color:#000">
							<a href="#lastcontribution"><button class="button button-small button-top" type="submit"  style="background-color:#e67e22;color:#fff;border-radius:8px;">Contribution</button></a>
						</div>
						<div class="col">
							<a href="#lastdisbursement"><button class="button button-small button-top" type="submit"  style="float:right;background-color:#e67e22;color:#fff;border-radius:8px;">Disbursement</button></a>
							
						</div>
						
					</div>		
				</span>
				<span class="item menu-height shadow item-avatar menupadding"  >
					<img src="img/home/ad-client.svg" style="margin-top:32px;">
					<a href="#new"><div class="home-head menu-head"> New Claim Request</div></a>
					
					<div class="row no-padding row-border" >
						<div class="col colvertical" >
							<a href="#newclaim"><button class="button button-small button-top " type="submit"  style="background-color:#e67e22;color:#fff;border-radius:8px;">Bicycle FSA</button></a>
						</div>
						<div class="col">
							<a href="#newclaimbicycle"><button class="button button-small button-top" type="submit"  style="float:right;background-color:#e67e22;color:#fff;border-radius:8px;">Trasit FSA</button></a>
							
						</div>
						
					</div>	
				</span>
				
			</div>
		
			<!--
			This bellow coding used for shwoing all the content 
			-->
			
		
			
			<!--  -->
			
		</div>
		<div style="height: 170px;"></div>
	
 
  </ion-content>
  	