<ion-header-bar class="headerborder" >
	<div class="home-head ">
		  <img src="img/back_icon.svg" ng-click="goback();"><p style="margin-top:-22px;margin-left:41px">Health Savings Activity</p>
	   </div>
     
</ion-header-bar>

<ion-view>
 <style>
    
 
   .h{
      text-align: center;
      color:   #800000;

      
    }
    .div{
      text-align: center;
      padding: 25px;
    }
     </style>
  <ion-content>
     
	
     <div class="div newTop">
		<a href="#activitystmnt" menu-close style="text-decoration:none ;color:black">
			<img src="img/home/Activity_statements.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Activity Statements</p>
		</a>
    </div>
     <div class="div">
		<a href="#taxyear" menu-close style="text-decoration:none ;color:black">
			<img src="img/home/Tax_statements.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Tax Statements</p>
		</a>
    </div>
	
      
   
    
  </ion-content>
</ion-view>
