<ion-view style="background-color:#DEDEDE;">
	<ion-content  on-swipe-right="goBack()" on-swipe-left="goForward()">
	
		<div class="padding" >
			<div class="list">
				<a class="item shadow item-avatar" href="#account">
					<img src="img/home/us.svg">
					<div class="home-head">Account Information</div>
				</a>
				<a class="item shadow item-avatar menupadding"  href="#makecontribution">
					<img src="img/home/Contributions2.svg">
					<div class="home-head"> Make Contribution</div>
				</a>
				<a class="item  shadow item-avatar menupadding" href="#make">
					<img src="img/home/Disbursements.svg">
					<div class="home-head">Make Disbursement</div>
					
				</a>
				<a class="item shadow item-avatar menupadding" href="#activity">
					<img src="img/home/Last5contributions.svg">
					<div class="home-head"> Recent Account Activity</div>
				</a>
				<a class="item shadow item-avatar menupadding" href="#health">
					<img src="img/home/Activity_statements.svg">
					<div class="home-head"> Statements</div>
				</a>
			</div>
			
			<!--
			This bellow coding used for shwoing all the content 
			-->
			<div style="height: 100px;"></div>
			
		</div>
	</ion-content>
</ion-view>
