<ion-view style="background-color:#DEDEDE;">
	<ion-content  on-swipe-right="goBack()" on-swipe-left="goForward()">
	
		<div class="padding" >
			<div class="list">
				<a class="item item-avatar" href="#account">
					<img src="img/new/Activity_statements1.png">
					<div class="home-head">Account Information</div>
				</a>
				<a class="item item-avatar" style="margin-top:5px;" href="#contribution">
					<img src="img/new/Contributions3.png">
					<div class="home-head"> Make Contibution</div>
				</a>
				<a class="item item-avatar"style="margin-top:5px;" href="#make">
					<img src="img/new/Disbursements1.png">
					<div class="home-head">Make Disbursement</div>
				</a>
				<a class="item item-avatar"style="margin-top:5px;" href="#activity">
					<img src="img/new/Last5contributions1.png">
					<div class="home-head"> Recent Account Activity</div>
				</a>
				<a class="item item-avatar"style="margin-top:5px;" href="#health">
					<img src="img/new/Activity_statements1.png">
					<div class="home-head"> Statements</div>
				</a>
			</div>
			
			<!--
			This bellow coding used for shwoing all the content 
			-->
			<div style="height: 100px;"></div>
			
			
			
			
		</div>
	</ion-content>
</ion-view>
