<ion-view style="background-color:#DEDEDE;" >
	<ion-content  on-swipe-left="goForward()">
      
		<div class="padding" >
			<div class="list">
				<a class="item menu-height shadow item-avatar" href="#account" >
					<img src="img/home/us.svg" style="margin-top:32px;">
					<div class="home-head menu-head">Account Information</div>
				</a>
				<a class="item menu-height shadow item-avatar menupadding"  href="#makecontribution">
					<img src="img/home/Contributions2.svg" style="margin-top:32px;">
					<div class="home-head menu-head"> Make Contribution</div>
				</a>
				<a class="item  menu-height shadow item-avatar menupadding" href="#make">
					<img src="img/home/Disbursements.svg" style="margin-top:32px;">
					<div class="home-head menu-head" >Make Disbursement</div>
					
				</a>
				<a class="item menu-height shadow item-avatar menupadding" href="#activity">
					<img src="img/home/Last5contributions.svg" style="margin-top:32px;">
					<div class="home-head menu-head"> Recent Account Activity</div>
				</a>
				<a class="item menu-height shadow item-avatar menupadding" href="#health">
					<img src="img/home/Activity_statements.svg" style="margin-top:32px;">
					<div class="home-head menu-head"> Statements</div>
				</a>
			</div>
			
			
			<div style="height: 200px;"></div>
			
		</div> 
      
	</ion-content>
</ion-view>
