<ion-header-bar id="headerborder" class="headerborder">
	
	<div class="home-head2 " ng-click="goback();">
		<i ng-click="goback();" class="ion ion-arrow-left-c"></i>
    </div>
    <div class="home-head2 ">
		<p style="margin-top:3px;margin-left:20px">HSA Statement</p>
	</div>
</ion-header-bar>
<ion-content class="bgnew">
	<div class="card">
		<div class="item ItemLinehr">
			<span class="ItemHeadLine">{{date.startDate}} To  {{date.EndtDate}}</span>
		</div>
		<div class="item item-body">
			<p><span class="ItemlineHead ">You are currently enrolled in </span><span class="ItemlineValueText ">{{summary.COVERAGE_LEVEL}}</span></p>
			<div class="linehr"></div>
			<p><span class="ItemlineHead ">Based on this coverage you may be eligible to contribute an additional <span class="ItemlineValueText">$2,285.04 </span>for the year <span class="ItemlineValueText"> 2016 </span>tax year.</span></span></p>
		</div>
	</div>
	<div class="card">
		<div class="item">
			<span class="ItemHeadLine">{{summary.A_YEAR}} IRS Annual Contribution Limits</span>
		</div>
		<div class="item item-body">
			<p><div class="ItemlineHead ">Single coverage</div><br><span class="ItemlineValueText ">${{summary.INDIVIDUAL_LIMIT}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Family coverage</div><br><span class="ItemlineValueText ">${{summary.FAMILY_LIMIT}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">* catch-up contribution</div><br><span class="ItemlineValueText ">${{summary.CATCHUP_LIMIT}}</span></p>			
		</div>
	</div>
	<div class="card">
		<div class="item">
			<span class="ItemHeadLine">Account Summary</span>
		</div>
		<div class="item item-body">
			<p><div class="ItemlineHead ">Beggining Account Balance</div><br><span class="ItemlineValueText ">${{summary.BEGINNING_BALANCE}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Ending  Account Balance</div><br><span class="ItemlineValueText ">${{summary.ENDING_BALANCE}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Available for Disbursement*</div><br><span class="ItemlineValueText ">${{summary.DISBURSABLE_BALANCE}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Interest earned</div><br><span class="ItemlineValueText ">${{summary.INTEREST}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Qualified Disbursements</div><br><span class="ItemlineValueText ">${{summary.QUAL_DISB_AMOUNT}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Non-Qualified  Disbursements</div><br><span class="ItemlineValueText ">${{summary.NQUAL_DISB_AMOUNT}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Outside Investment Balance</div><br><span class="ItemlineValueText ">${{summary.OUTSIDE_INV_BAL}}</span></p>
		</div>
	</div>  
	<div class="card">
		<div class="item">
			<span class="ItemHeadLine">2016 Activity Summary</span>
		</div>
		<div class="item item-body">
			<p><div class="ItemlineHead ">Total Contributions</div><br><span class="ItemlineValueText ">${{summary.TOTAL_CONTRIBUTION}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Employer Contribution</div><br><span class="ItemlineValueText ">$0.00</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Employee Contribution</div><br><span class="ItemlineValueText ">$0.00</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Total Disbursements</div><br><span class="ItemlineValueText ">${{summary.TOTAL_ER_AMOUNT}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Non-Qualified Disbursements</div><br><span class="ItemlineValueText ">${{summary.NQUAL_DISB_AMOUNT}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Qualified Disbursements</div><br><span class="ItemlineValueText ">${{summary.QUAL_DISB_AMOUNT}}</span></p>
		</div>
	</div>	
	<div ng-repeat="data in activity">
		<div class="card">
			<div class="item">
				<span class="ItemHeadLine">Activity List:{{data.TRANSACTION_DATE}}</span>
			</div>
			<div class="item item-body">
				<!-- <p><div class="ItemlineHead ">Date</div><br><span class="ItemlineValueText ">{{data.TRANSACTION_DATE}}</span></p>
				<div class="linehr"></div> -->
				<p><div class="ItemlineHead ">Code</div><br><span class="ItemlineValueText ">{{data.EXPENSE_CODE}}</span></p>
				<div class="linehr"></div>
				<p><div class="ItemlineHead ">Description</div><br><span class="ItemlineValueText ">{{data.DESCRIPTION}}</span></p>
				<div class="linehr"></div>
				<p><div class="ItemlineHead ">Total Receipt Amount</div><br><span class="ItemlineValueText ">{{data.TOTAL_RECEIPT_AMOUNT}}</span></p>
				<div class="linehr"></div>
				<p><div class="ItemlineHead ">Total Disbursement Amount</div><br><span class="ItemlineValueText ">{{data.TOTAL_DISB_AMOUNT}}</span></p>
				<div class="linehr"></div>
				<p><div class="ItemlineHead ">Account Balance</div><br><span class="ItemlineValueText ">{{data.ACC_BALANCE}}</span></p>
				<div class="linehr"></div>
				<p><div class="ItemlineHead ">Fee Balance</div><br><span class="ItemlineValueText ">{{data.FEE_BALANCE}}</span></p>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="item">
			<span class="ItemHeadLine">Activity List</span>
		</div>
		<div class="item item-body">
			<p><div class="ItemlineHead ">Current Year Contribution</div><br><span class="ItemlineValueText ">${{summary.CURRENT_YR_CONTRIB}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Previous Year Contribution</div><br><span class="ItemlineValueText ">${{summary.PREVIOUS_YR_CONTRIB}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Total Transaction Fees Paid</div><br><span class="ItemlineValueText ">${{summary.TXN_FEE_PAID}}</span></p>
			<div class="linehr"></div>
			<p><div class="ItemlineHead ">Total Administration Fees Paid</div><br><span class="ItemlineValueText ">${{summary.ADMIN_FEE_PAID}}</span></p>
	   </div>
   </div>
     
		

</ion-content>
<ion-footer-bar  class="footerborder" >
 
        <p class="text-center">&copy; 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar>