<ion-header-bar class="headerborder" >
	
	<div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div>
    <div class="home-head ">
		<p style="margin-top:3px;margin-left:20px">HSA Statement</p>
	</div>
</ion-header-bar>
<ion-view>
<ion-content >
       <div class="accountcontent">
			<p class="HeadLine"> {{date.startDate}} To  {{date.EndtDate}}</p>
			<p class="lineBreak"></p>
			
		</div>
		<div class="accountsubcontent">
			<p><span class="lineHead">You are currently enrolled in single coverage </span></p>
			<p><span class="lineHead">Based on this coverage you may be eligible to contribute an additional <span class="lineValueText">$2,285.04 </span>for the year <span class="lineValueText"> 2016 </span>tax year.</span></span></p>
				
		</div>
		<div class="subtitle">
			<p class="HeadLine">2016 IRS Annual Contribution Limits</p>
			<p class="lineBreak"></p>
		</div>
		<div class="accountsubcontent">
			<p><span class="lineHead">Single coverage</span><br><span class="lineValueText">5807</span></p>
			<p><span class="lineHead">Family coverage</span><br><span class="lineValueText">$179</span></p>
			<p><span class="lineHead">* catch-up contribution</span><br><span class="lineValueText">$3,350.00</span></p>
		</div>
		<!-- <div class=" item-divider item-text-wrap">
                  <p>* If you are older, you can make an additional catch-up contribution</p>
        </div>
		 -->
		<div class="subtitle">
			<p class="HeadLine">Account Summary</p>
			<p class="lineBreak"></p>
		</div>
		<div class="accountsubcontent">
			<p><span class="lineHead">Beggining Account Balance</span><br><span class="lineValueText">5807</span></p>
			<p><span class="lineHead">Ending  Account Balance</span><br><span class="lineValueText">$179</span></p>
			<p><span class="lineHead">Available for Disbursement*</span><br><span class="lineValueText">$179</span></p>
			<p><span class="lineHead">Interest earned</span><br><span class="lineValueText">$3,350.00</span></p>
			<p><span class="lineHead">Qualified Disbursements</span><br><span class="lineValueText">$3,350.00</span></p>
			<p><span class="lineHead">Non-Qualified  Disbursements</span><br><span class="lineValueText">$3,350.00</span></p>
			<p><span class="lineHead">Outside Investment Balance</span><br><span class="lineValueText">$3,350.00</span></p>
		</div>
	   <!--<div class="item item-divider item-text-wrap">
              *Excludes $20 required minimum balance	
        </div> -->
		
		<div class="subtitle">
			<p class="HeadLine"> 2016 Activity Summary</p>
			<p class="lineBreak"></p>
		</div>
		<div class="accountsubcontent">
			<p><span class="lineHead">Total Contributions</span><br><span class="lineValueText">$179</span></p>
			<p><span class="lineHead">Employer Contribution</span><br><span class="lineValueText">$179</span></p>
			<p><span class="lineHead">Employee Contribution</span><br><span class="lineValueText">$179</span></p>
			<p><span class="lineHead">Total Disbursements</span><br><span class="lineValueText">$3,350.00</span></p>
			<p><span class="lineHead">Non-Qualified Disbursements</span><br><span class="lineValueText">$3,350.00</span></p>
			<p><span class="lineHead">Qualified Disbursements</span><br><span class="lineValueText">$3,350.00</span></p>
			
		</div>
		<div class="subtitle">
			<p class="HeadLine">  Activity </p>
			<p class="lineBreak"></p>
		</div>
		<div class="accountsubcontent">
			<p><span class="lineHead">Date</span><br><span class="lineValueText">30/08/2016</span></p>
			<p><span class="lineHead">Code</span><br><span class="lineValueText">179</span></p>
			<p><span class="lineHead">Beginning Balances</span><br><span class="lineValueText">$179</span></p>
			<p><span class="lineHead">Ending Balances</span><br><span class="lineValueText">$3,350.00</span></p>
			<p><span class="lineHead">Fee Balance</span><br><span class="lineValueText">$3,350.00</span></p>
		
		</div>
	
     

</ion-content>
</ion-view>
<ion-footer-bar  class="footerborder" >
 
        <p class=" footertext">&copy 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar>