<ion-view>
    <ion-content >
		<div class="home-head lineBreakHeader" ng-click="goback();" >
			<p ><img src="img/back_icon.svg">&nbsp;&nbsp;<span> Account Information</span></p>
		</div>
    <!--  <div class="card"  >
     <div  style="margin-left:20px; margin-top:10px";>
            <p class="content-head"><b>FAS Effective Date</b></p>
			<p class="sub-head">155{{accnumber.EFFECTIVE_DATE}}</p>
            <p class="content-head"><b>Account Number</b></p>
			<p class="sub-head">155{{accnumber.ACC_NUM}}</p>
     </div>
     </div> -->
	 
	<div>
		<div style="margin-left:20px; margin-top:10px">
			<!-- <p class="lineBreak">Bicycle FSA</p> -->
		</div>
		<div style="margin-left:20px; margin-top:15x";>
			<p class="content-head lineHead">FAS Effective Date</p>
			<p class="sub-head lineValueText">08/09/2016</p>
			<p class="content-head lineHead">Account Number</p>
			<p class="sub-head lineValueText">$240.00</p>      
		</div>
	</div>
    
  </ion-content>
</ion-view>
