<ion-header-bar class="headerborder" >
	<div class="home-head "  >
		  <img src="img/back_icon.svg" ng-click="goback();"><p class="headertitle">Account Information</p>
	   </div>
     
</ion-header-bar>

<ion-view>
    <ion-content >
	
	<div class="accountcontent">
		<!-- <p class="HeadLine">Contributions</p>
		<p class="lineBreak"></p> -->
	</div>
	<div class="accountsubcontent">
		<p><span class="lineHead">FAS Effective Date</span><br><span class="lineValueText">{{accnumber.EFFECTIVE_DATE}}</span></p>
		<p><span class="lineHead">Account Number</span><br><span class="lineValueText">{{accnumber.ACC_NUM}}</span></p>
	</div>
    
  </ion-content>
</ion-view>
