<ion-header-bar class="" >
	
     <div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div>
    <div class="home-head ">
		<p style="margin-top:3px;margin-left:20px">Account Information</p>
	</div> 
</ion-header-bar>

<ion-view>
    <ion-content scroll="false">
	
	<div class="accountcontent">
		<!-- <p class="HeadLine">Contributions</p>
		<p class="lineBreak"></p> -->
	</div>
	
	<div class="card card_margin cardshadow">
	<div class="accountsubcontent">
		<p><span class="lineHead cardContent">FAS Effective Date</span><br><span class="lineValueText cardContent">{{accnumber.EFFECTIVE_DATE}}</span></p>
		<p><span class="lineHead cardContent">Account Number</span><br><span class="lineValueText cardContent">{{accnumber.ACC_NUM}}</span></p>
	</div>
	</div>
    
  </ion-content>
</ion-view>
<ion-footer-bar  class="footerborder" >
 
        <p class=" footertext"> &copy Sterling Administration.All Rights Reserved.</p>
  
 </ion-footer-bar>
  
