<ion-header-bar class="headerborder" >
	
     <div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div>
    <div class="home-head ">
		<p style="margin-top:3px;margin-left:20px">Last 5 Disbursement</p>
	</div>
</ion-header-bar>
<ion-view>
	<ion-content>
	
	     <div class="div1" ng-repeat="data in transcation_list">
		 <div style="margin-left:20px; margin-top:32px">
			<p class="HeadLine">Fee Date: {{data.FEE_DATE}}</p>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px">
			<p><span class="lineHead">Fee name</span><br><span class="lineValueText">{{data.FEE_NAME}}</span></p>
			<p><span class="lineHead">Amount</span><br><span class="lineValueText">{{data.AMOUNT}}</span></p>
		</div>
		</div>
	
		
	</ion-content>
</ion-view>