 <ion-header-bar class="headerborder" >
	
	<div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div>
    <div class="home-head ">
		<p style="margin-top:3px;margin-left:20px">Make Disbursement</p>
	</div>
</ion-header-bar>
<ion-view >
  <style>
    
    .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>
   
     
	
      </div>
    <div class="div newTop"> 
		<a href="#/payme" >
			<img src="img/home/Pay_me.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Pay Me</p>
		</a>
    </div>
     <div class="div">
		<a href="#/payprovider">
			<img src="img/home/Pay_provider.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Pay Provider</p>
		</a>
    </div>
  </ion-content>
</ion-view>
