<ion-header-bar class="headerborder">
	 
	<div class="home-head2 ">
		<i ng-click="goback();" class="ion ion-arrow-left-c"></i>
    </div>
    <div class="home-head2 ">
		<p ng-click="goback();" style="margin-top:3px;margin-left:20px">Make Contribution</p>
	</div>
</ion-header-bar>

<ion-view >
	
	<ion-content>
	     
		<div class=" headerborder">
				  
			<div  style="margin-left:20px;padding-top:30px;" >
		   
				 <p><span class="lineHead1 cardContent">Total contribution for 2016:</span><br><span class="lineValueText1 cardContent">$1,164.96</span></p>
				 <p><span class="lineHead1 cardContent">Allowable contribution remaining for 2016:</span><br><span class="lineValueText1 cardContent">$2,185.00</span></p>
				 <p><span class="lineHead1 cardContent">Total disbursement for 2016:</span><br><span class="lineValueText1 cardContent">$0.00</span></p>
			</div>
				
		</div>
		<form name="myForm">
		
		<div class="row responsive-sm">
			<div class="col col-75 center">
		        <!-- <div class="card headerborder cardshadow">
				     <div  style="margin-left:20px;padding-top:30px;" >
		   
				 <p><span class="lineHead1 cardContent">Total contribution for 2016:</span><br><span class="lineValueText1 cardContent">$1,164.96</span></p>
				 <p><span class="lineHead1 cardContent">Allowable contribution remaining for 2016:</span><br><span class="lineValueText1 cardContent">$2,185.00</span></p>
				 <p><span class="lineHead1 cardContent">Total disbursement for 2016:</span><br><span class="lineValueText1 cardContent">$0.00</span></p>
			</div>
				</div>
				 -->
				
					
					  
					   <div class="list ">
							<label class="item item-input item-select" style=" width:100%; border-bottom:#DEDEDE solid; border-top:none; border-left:none; border-right:none;" >
							  <div class="input-label ">
							select
							 </div>
							<select name="selectAccount" ng-model="selectAccount" required>
							  <option value="" > Select Bank Account</option>
							 <option ng-repeat="data in bank_details">{{data.DISPLAY_NAME}}</option>
						  
						  </select>
						 </label>
						 <div class="row">
							  <span style="color:red" ng-show="myForm.selectAccount.$dirty && myForm.selectAccount.$invalid">
                                <span ng-show="myForm.selectAccount.$error.required"> selectAccount is required.</span>
                              </span>
							</div>
						</div>
						
						<div class="list ">
							<label class="item item-input" style="border:none;" >
							<input type="number"  class="input-box1 input-boxfocus1" name="amount" ng-model="amount" id="forminput" placeholder="Enter Amount" required>
							</label> 
							<div class="row">
							  <span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
                                <span ng-show="myForm.amount.$error.required"> Amount is required.</span>
                              </span>
							</div>
						 </div>
						 
							  <div class="list ">
							<label class="item item-input" style="border:none;" >
							<input type="number"  class="input-box1 input-boxfocus1" name="feeamount" ng-model="feeamount" id="forminput" placeholder="Optional Monthly Service Fee Amount($)" required>
							</label> 
							<div class="row">
							  <span style="color:red" ng-show="myForm.feeamount.$dirty && myForm.feeamount.$invalid">
                                <span ng-show="myForm.feeamount.$error.required"> Transaction Date is required.</span>
                              </span>
							</div>
						 </div> 
						 
						<div class="list">
							<label class="item item-input "style="border:none;">
							<input type="text" ng-click="getTransDate()" name="transaction" ng-model="TransDate" class="input-box input-boxfocus " id="forminput" placeholder="Transaction Date" required>
							</label>
							<div class="row">
							  <span style="color:red" ng-show="myForm.transaction.$dirty && myForm.transaction.$invalid">
                                <span ng-show="myForm.transaction.$error.required"> Transaction Date is required.</span>
                              </span>
							</div>
						</div> 
					   
						<!-- <div class="list" >
							 <label class="item item-input item-select formselect"  >
								 <div class="input-label ">
								select
								 </div>
								  <select name="description" ng-model="description" required>
								<option value="">Description</option>
								<option ng-repeat="data in description">{{data.FEE_NAME}}</option>
							  </select>
							  </label>
							  <div class="row">
							  <span style="color:red" ng-show="myForm.description.$dirty && myForm.description.$invalid">
                                <span ng-show="myForm.description.$error.required"> Description is required.</span>
                              </span>
							</div>
						</div> -->
						
						 
					   <div class="list ">
							<label class="item item-input item-select" style=" width:100%; border-bottom:#DEDEDE solid; border-top:none; border-left:none; border-right:none;" >
							  <div class="input-label ">
							select
							 </div>
							<select name="description" ng-model="description" required>
							  <option value="" > Select Description</option>
							 <option ng-repeat="data in description">{{data.FEE_NAME}}</option>
						  
						  </select>
						 </label>
						 <div class="row">
							  <span style="color:red" ng-show="myForm.description.$dirty && myForm.description.$invalid">
                                <span ng-show="myForm.description.$error.required"> selectAccount is required.</span>
                              </span>
							</div>
						</div>
							

		<div class="row">
			<div class="col  text-center">
				<button class="button button-small" type="submit"  ng-disabled="myForm.$invalid" style="background-color:#29B8E5;color:#fff;border-radius:8px;">SUBMIT</button>
			</div> 
		</div> 

					   
					  </div>
				</div>
			
		
		
  </form>	
	
  </ion-content>
</ion-view>
<ion-footer-bar  class="footerborder" >
 
        <p class="text-center">&copy; 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar>
