 <ion-header-bar class="headerborder" >
	<div class="home-head "  >
		  <img src="img/back_icon.svg" ng-click="goback();"><p style="margin-top:-22px;margin-left:35px">Make Disbursement</p>
	   </div> 
	
</ion-header-bar>
<ion-view >
  <style>
    
    .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>
   
     
	
      </div>
    <div class="div"> 
		<a href="#/payme" menu-close style="text-decoration:none ;color:black">
			<img src="img/new/Pay_me1.png" style="height: 100px; width: 100px;">
			<p class="home-head">Pay Me</p>
		</a>
    </div>
     <div class="div">
		<a href="#/payprovider" menu-close style="text-decoration:none ;color:black">
			<img src="img/new/Pay_provider.png" style="height: 100px; width: 100px;">
			<p class="home-head">Pay Provider</p>
		</a>
    </div>
  </ion-content>
</ion-view>
