 <ion-header-bar id="headerborder" class="headerborder" >
	
	<div class="home-head2" ng-click="goback();">
		<!-- <img src="img/back_icon.svg" > -->
		<i ng-click="goback();" class="ion ion-arrow-left-c back-icon"></i>
    </div>
    <div class="home-head2">
		<p class="headertitle">New Claim Request</p>
	</div>
</ion-header-bar>

<ion-view>
    <ion-content class="bgnew">
	
   <style>
	.list{
		padding-top: 20px !important;
	}
   </style>
     
    
      
	  
	  <div class="list">
            <label class="item item-input item-select formselect" >
              <div class="input-label ">
            select
			 </div>
           <select ng-model="claim" ng-change="getClaim(claim)" placeholder="select your beverage">
            <option value="" disabled selected>Select Plan</option>
			<option value="Bicycle">Bicycle FSA</option>
            <option value="Transit">Transit FSA</option>
          
          </select>

		 </label>
      </div>

      
    </ion-content>
</ion-view>
<ion-footer-bar  class="footerborder" >
 
        <p class="footertext">&copy; 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar>