<ion-header-bar class="headerborder" >
	 <div class="home-head "  >
		  <img src="img/back_icon.svg" ng-click="goback();"><p style="margin-top:-22px;margin-left:35px">New Claim-Bicycle</p>
	   </div>
		
</ion-header-bar>

<ion-view>
  <ion-content>
   
    <div class="row responsive-sm">
			<div class="col col-75 center">
		 
     
      <div class="card">
      
	  <h4 style="margin-left:10px">Available Balance</h4>
				 <p style="margin-left:10px">$1,084.70</p>
	  </div>
      
      <div>
        
          
            <div class="list">
            <label class="item item-input item-select" style=" width:100%; border-bottom:#DEDEDE solid; margin-left:5px;border-top:none; border-left:none; border-right:none;" >
              <div class="input-label ">
            select
			 </div>
           <select >
				<option selected> Select Payee</option>
				<option value="115095">Town and Country Pediatrics Acct #:8291 3838 California Street, Suite 111 San Franciscoca,CA 94118</option>
				<option value="120737">Quest Diagnostics Acct #:8388435482 PO Box 7400 Pasadena,CA 91109</option>
				<option value="147441">California Pacific Medical Center File#742412 Acct #:10659166 PO Box 742412 Los Angeles,CA 90074</option>
				<option value="147445">KidSmiles Pediatric Dentristry Acct #:17895 2674 Ocean Ave San Francisco,CA 94132</option>
				<option value="147442">Children's Sports Medicine Foundation, Inc. Acct #:250332256 PO Box 3694 Boston,MA 02241</option>
				<option value="147443">Pacific Gyn &amp; OB Medical Group Acct #:188826-85 PO Box 1290 Suisun City,CA 94585</option>
				<option value="209392">dfdg Acct #:435646 dfgd gdfg,DC 94612</option>
				<option value="209672">Sarah Napolio Acct #:ICA271600 15 Massasoit Street San Francisco,CA 94110</option>
          </select>
		 </label>
      </div>
 

       <div class="list ">
	 <label class="item item-input" style="border:none;" >
        <input type="text"  class="input-box input-boxfocus" placeholder="Enter Amount" style="color:#444; padding-left:10px;">
		</label> 
		 </div>
		 
		 <div class="list">
        <label class="item item-input "style="border:none;">
        <input type="text" ng-click="getTransDate()" ng-model="TransDate" class="input-box input-boxfocus " placeholder="Transaction Date" style="color:#444;padding-left:10px;">
		</label>
      </div> 
   
    <div class="list ">
	 <label class="item item-input" style="border:none;" >
        <input type="text"  class="input-box input-boxfocus" placeholder="Description" style="color:#444; padding-left:10px;">
		</label> 
		 </div>
		  <div class="list ">
	 <label class="item item-input" style="border:none;" >
        <input type="text"  class="input-box input-boxfocus" placeholder="Patient's Name" style="color:#444; padding-left:10px;">
		</label> 
		 </div>
      
    		<div class="row">
			<div class="col col-10  text-center">
				<button class="button button-small" type="submit "  style="background-color: #29B8E5;color:#fff;border-radius:8px">Upload</button>
			</div> 
		</div> 

		<div class="row">
			<div class="col col-20 text-center">
				<button class="button button-small" type="submit"  style="background-color:#29B8E5;color:#fff;border-radius:8px;">SUBMIT</button>
			</div> 
		</div> 

   
  </div>

</div>
</div>
</div>

     
		
       </ion-content>
</ion-view>
