<ion-header-bar class="headerborder" >
	 
	<div class="home-head2 " ng-click="goback();">
		<i ng-click="goback();" class="ion ion-arrow-left-c"></i>
    </div>
    <div class="home-head2 ">
		<p style="margin-top:3px;margin-left:20px">Bicycle-FSA</p>
	</div>
</ion-header-bar>
<ion-view>
  <ion-content >
  
  <ion-scroll >
     <!--  <div class=" headerborder">
				  
			<div style="margin-left:20px;padding-top:30px;padding-bottom:03px;">
		   
				 <p><span class="lineHead1 cardContent">Available Balance</span><br><span class="lineValueText1 cardContent">$1,084.70</span></p>
				 
			</div>
				
		</div> -->
	<form name="myForm">
    <div class="row responsive-sm">
	<div class="col col-75 center">
		 
     
      <div class="card cardshadow headerborder">
        <p><span class="lineHead1 cardContent">Available Balance</span><br><span class="lineValueText1 cardContent">$1,084.70</span></p>
	  </div>
      
     
        
          
            <div class="list">
            <label class="item item-input item-select formselect">
              <div class="input-label ">
            select
			 </div>
           <select name="selectPayee" ng-model="selectPayee" required>
				<option value="">Select Payee</option>
				<option value="115095">Town and Country Pediatrics Acct #:8291 3838 California Street, Suite 111 San Franciscoca,CA 94118</option>
				<option value="120737">Quest Diagnostics Acct #:8388435482 PO Box 7400 Pasadena,CA 91109</option>
				<option value="147441">California Pacific Medical Center File#742412 Acct #:10659166 PO Box 742412 Los Angeles,CA 90074</option>
				<option value="147445">KidSmiles Pediatric Dentristry Acct #:17895 2674 Ocean Ave San Francisco,CA 94132</option>
				<option value="147442">Children's Sports Medicine Foundation, Inc. Acct #:250332256 PO Box 3694 Boston,MA 02241</option>
				<option value="147443">Pacific Gyn &amp; OB Medical Group Acct #:188826-85 PO Box 1290 Suisun City,CA 94585</option>
				<option value="209392">dfdg Acct #:435646 dfgd gdfg,DC 94612</option>
				<option value="209672">Sarah Napolio Acct #:ICA271600 15 Massasoit Street San Francisco,CA 94110</option>
          </select>
		 </label>
		 <div class="row">
			 <span style="color:red" ng-show="myForm.selectPayee.$dirty && myForm.selectPayee.$invalid">
                 <span ng-show="myForm.selectPayee.$error.required"> Select Payee is required.</span>
             </span>
		 </div>		
      </div>
 

    <div class="list ">
	    <label class="item item-input formlabel">
           <input type="number"  class="input-box1 input-boxfocus1 " id="forminput" name="amount" ng-model="amount" placeholder="Enter Amount"  required>
		</label> 
		<div class="row">
		  <span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
              <span ng-show="myForm.amount.$error.required"> Amount is required.</span>
           </span>
		</div>
	</div>
		 
		 <div class="list">
        <label class="item item-input formlabel">
        <input type="text" ng-click="getTransDate()" name="transaction" ng-model="TransDate" class="input-box input-boxfocus " id="forminput" placeholder="Transaction Date"  required>
		</label>
		<div class="row">
		  <span style="color:red" ng-show="myForm.transaction.$dirty && myForm.transaction.$invalid">
              <span ng-show="myForm.transaction.$error.required"> Tansaction Date is required.</span>
           </span>
		</div>
      </div> 
   
    <div class="list ">
	 <label class="item item-input formlabel" >
        <input type="text"  class="input-box input-boxfocus" id="forminput" name="description" ng-model="description" placeholder="Description"  required>
		</label> 
		<div class="row">
		  <span style="color:red" ng-show="myForm.description.$dirty && myForm.description.$invalid">
              <span ng-show="myForm.description.$error.required"> Description is required.</span>
          </span>
		</div>
		 </div>
		 
		  <div class="list ">
	 <label class="item item-input formlabel" >
        <input type="text"  class="input-box input-boxfocus" id="forminput" name="patient" ng-model="patient" placeholder="Patient's Name"  required>
		</label> 
		<div class="row">
		  <span style="color:red" ng-show="myForm.patient.$dirty && myForm.patient.$invalid">
              <span ng-show="myForm.patient.$error.required"> Patient's Name is required.</span>
          </span>
		</div>
		 </div>
      
		<div class="row">
			<div class="col text-center">
				
			<button class="button button-small formButton" type="submit" ng-click="upload();" >Upload</button>
			</div> 
		 </div> 
	   
		<div class="row">
			<div class="col text-center">
				<button class="button button-small formButton" ng-disabled="myForm.$invalid" type="submit">SUBMIT</button>
			</div> 
		</div>    
  
</div>
</div>
</div>

          
     	<!--the below code used for Scrolling -->
	  <div ></div>
	  </form>
    </ion-content>
</ion-scroll>
</ion-view>
<ion-footer-bar  class="footerborder" >
 
        <p class="footertext">&copy; 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar>
