<ion-header-bar id="headerborder" >
	
	 <div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div>
    <div class="home-head ">
		<p style="margin-top:3px;margin-left:20px">Pay Me</p>
	</div>
</ion-header-bar>

<ion-view>
	<!-- <style>
	
	
input[type=text]:focus {
	
  box-shadow: -8px 10px 0px -7px #5FBA7D, 8px 10px 0px -7px #5FBA7D;
}
	</style> -->
	<ion-content>
	     
		<form name="myForm">
		<div class=" hide row">
			<div class="col col-center">
			  <h3 class="ion ion-arrow-left-a" onclick="window.history.back();"> Pay Me</h3> 
			</div>
		</div> 
		<div class="row responsive-sm">
			<div class="col col-75 center">
		 
				<div class="card cardshadow" >
				   <!-- <p style="color: red;margin-left:25px">You do not have a bank account on record.You must add a bank account by logging into the sterlinghsa.com to schedule disbursement.</p>
				 -->
				 <h4 class="formcard">Available Balance</h4>
				 <p class="formcard">$1,084.70</p>
				 </div>
				
					
				     <div class="list ">
							<label class="item item-input item-select formselect" >
							  <div class="input-label ">
							select
							 </div>
							<select name="selectAccount" ng-model="selectAccount"  required>
							  <option value=""> Select Bank Account</option>
							 <option ng-repeat="data in bank_details" >{{data.DISPLAY_NAME}}</option>
						  
						  </select>
						 </label>
						 <div class="row">
							  <span style="color:red" ng-show="myForm.selectAccount.$dirty && myForm.selectAccount.$invalid">
                                <span ng-show="myForm.selectAccount.$error.required"> selectAccount is required.</span>
                              </span>
							</div>
				    </div>
						<div class="list ">
							<label class="item item-input formlabel" >
							<input type="number"  class="input-box1 input-boxfocus1" id="forminput" name="amount" ng-model="amount" placeholder="Enter Amount"  required>
							</label> 
							<div class="row">
							  <span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
                                <span ng-show="myForm.amount.$error.required"> Amount is required.</span>
                              </span>
							</div>
						 </div>
							 
						<div class="list">
							<label class="item item-input formlabel">
							<input type="text" ng-click="getTransDate()" name="transaction" ng-model="TransDate" class="input-box input-boxfocus" id="forminput" placeholder="Transaction Date"  required>
							</label>
							<div class="row">
							  <span style="color:red" ng-show="myForm.transaction.$dirty && myForm.transaction.$invalid">
                                <span ng-show="myForm.transaction.$error.required"> Transaction Date is required.</span>
                              </span>
							</div>
						</div> 
					   
						<div class="list" >
							 <label class="item item-input item-select formselect" >
								 <div class="input-label ">
								Category
								 </div>
								  <select name="category" ng-model="category" required>
								<option value="">Category</option>
								<option ng-repeat="data in categories">{{data.DESCRIPTION}}</option>
							  </select>
							  </label>
							  <div class="row">
							  <span style="color:red" ng-show="myForm.category.$dirty && myForm.category.$invalid">
                                <span ng-show="myForm.category.$error.required"> Category is required.</span>
                              </span>
							</div>
						</div>
			
			
			       <div class="row">
				      <div class="col text-center">
			            <button class="button button-small  formButton " ng-click="upload();" type="submit "  >Upload</button>
				      </div>
				   </div>
		
		       
				
			    <div class="row">
				    <div class="col text-center">
				        <button class="button button-small text-center formButton" ng-disabled="myForm.$invalid" type="submit">SUBMIT</button>
				    </div>
			    </div>
			
		     

					   
	       </div>
				
      </div>
			
		
		</form>
  
	
	</ion-content>
</ion-view>
<ion-footer-bar  class="footerborder" >
 
        <p class="text-center">&copy; 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar>
