<ion-header-bar class="headerborder" >
	 
	 <div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div>
    <div class="home-head ">
		<p style="margin-top:3px;margin-left:20px">Pay Provider</p>
	</div>
	   
</ion-header-bar>


<ion-view>
<style>
	
	
input[type=text]:focus {
	
  box-shadow: -8px 10px 0px -7px #5FBA7D, 8px 10px 0px -7px #5FBA7D;
}
	</style>
  <ion-content  >
		
		
	<div class="row">
        <div class="col col-center">
          <h3 class="h"></h3> 
        </div>
      </div>
	  
	  <div class="row responsive-sm">
	  <div class="col col-75 center">
     
        <div class="card" >
           <!-- <p style="color: red;margin-left:25px">You do not have a bank account on record.You must add a bank account by logging into the sterlinghsa.com to schedule disbursement.</p>
         -->
		  <h4 class="formcard">Available Balance</h4>
		   <p class="formcard">$1,084.70</p>
		 </div>
		
	   <div class="list">
            <label class="item item-input item-select formselect" >
              <div class="input-label ">
                select
	          </div>
              <select >
				<option selected> Select Payee</option>
				<option ng-repeat="data in bank_details">{{data.DISPLAY_NAME}}</option>
              </select>
		   </label>
       </div>
 

       <div class="list ">
	 <label class="item item-input formlabel" >
        <input type="text"  class="input-box input-boxfocus" placeholder="Enter Amount" style="color:#444; padding-left:10px;">
		</label> 
	  </div>
		 
	  <div class="list">
        <label class="item item-input formlabel">
          <input type="text" ng-click="getTransDate()" ng-model="TransDate" class="input-box input-boxfocus " placeholder="Transaction Date" style="color:#444;padding-left:10px;">
		</label>
      </div> 
   
    <div class="list ">
	 <label class="item item-input formlabel" >
        <input type="text"  class="input-box input-boxfocus" placeholder="Description" style="color:#444; padding-left:10px;">
		</label> 
	</div>
      
		<div class="row">
			<div class="col col-10  text-center">
			
			<button class="button button-small formButton" type="submit " ng-click="upload();" >Upload</button>
		</div> 
		</div> 

		<div class="row">
			<div class="col col-20 text-center">
				<button class="button button-small formButton" type="submit">SUBMIT</button>
			</div> 
		</div> 
   
</div>

</div>

   </ion-content>
</ion-view>
<ion-footer-bar  class="footerborder" >
 
        <p class="text-center">&copy; 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar>
