<ion-header-bar id="headerborder" >
	 
	 <div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div>
    <div class="home-head ">
		<p style="margin-top:3px;margin-left:20px">Pay Provider</p>
	</div>
	   
</ion-header-bar>


<ion-view>
<style>
	
	
input[type=text]:focus {
	
  box-shadow: -8px 10px 0px -7px #5FBA7D, 8px 10px 0px -7px #5FBA7D;
}
	</style>
  <ion-content  >
		
		<form name="myForm">
	<div class="row">
        <div class="col col-center">
          <h3 class="h"></h3> 
        </div>
      </div>
	  
	  <div class="row responsive-sm">
	  <div class="col col-75 center">
     
        <div class="card cardshadow" >
           <!-- <p style="color: red;margin-left:25px">You do not have a bank account on record.You must add a bank account by logging into the sterlinghsa.com to schedule disbursement.</p>
         -->
		  <h4 class="formcard">Available Balance</h4>
		   <p class="formcard">$1,084.70</p>
		 </div>
		
	   <div class="list">
            <label class="item item-input item-select formselect" >
              <div class="input-label ">
                select
	          </div>
              <select name="selectPayee" ng-model="selectPayee" required>
				<option value=""> Select Payee</option>
				 <option ng-repeat="data in payee">{{data.VENDOR_NAME}}</option> 
				 </select>
		   </label>
		   <div class="row">
			 <span style="color:red" ng-show="myForm.selectPayee.$dirty && myForm.selectPayee.$invalid">
                 <span ng-show="myForm.selectPayee.$error.required"> Amount is required.</span>
             </span>
		 </div>				 
       </div>
 

       <div class="list ">
	 <label class="item item-input formlabel" >
        <input type="number"  class="input-box1 input-boxfocus1" id="forminput" name="amount" ng-model="amount" placeholder="Enter Amount"  required>
		</label> 
		<div class="row">
		  <span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
              <span ng-show="myForm.amount.$error.required"> Amount is required.</span>
           </span>
		</div>
	  </div>
		 
	  <div class="list">
        <label class="item item-input formlabel">
          <input type="text" ng-click="getTransDate()" name="transaction" ng-model="TransDate" id="forminput" class="input-box input-boxfocus" placeholder="Transaction Date"  required>
		</label>
		<div class="row">
		  <span style="color:red" ng-show="myForm.transaction.$dirty && myForm.transaction.$invalid">
              <span ng-show="myForm.transaction.$error.required"> Tansaction Date is required.</span>
           </span>
		</div>
      </div> 
   
    <div class="list ">
	 <label class="item item-input formlabel" >
        <input type="text"  class="input-box input-boxfocus"  id="forminput" name="description" ng-model="description" placeholder="Description"  required>
		</label> 
		<div class="row">
		  <span style="color:red" ng-show="myForm.description.$dirty && myForm.description.$invalid">
              <span ng-show="myForm.description.$error.required"> Description is required.</span>
          </span>
		</div>
	</div>
      
		<div class="row">
			<div class="col text-center">
			
			<button class="button button-small formButton" type="submit " ng-click="upload();" >Upload</button>
		</div> 
		</div> 

		<div class="row">
			<div class="col text-center">
				<button class="button button-small formButton" ng-disabled="myForm.$invalid" type="submit">SUBMIT</button>
			</div> 
		</div> 
   
</div>

</div>
</form>
   </ion-content>
</ion-view>
<ion-footer-bar  class="footerborder" >
 
        <p class="text-center">&copy; 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar>
