<ion-view>
   
       <ion-content class="bgnew">
     <div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div>
    <div class="home-head ">
		<p class="headertitle">Recent Disbursement</p>
	</div>
	   
        
           <div class="div1">
            
           
           <div class="row">
             <p>12/19/2011</p>
           </div>
          
           <div class = "row">
   <div class = "col col1 col-75">ePayment-FSA</div>
   <div class = "col col2">$623.55</div>
</div>
           </div>
           <div class="div1">
            
          
           <div class="row">
             <p>08/29/2011</p>
           </div>

           <div class = "row">
   <div class = "col col1 col-75">ePayment-FSA</div>
   <div class = "col col2">$708.55</div>
</div>
            </div>
           </ion-content>
             </ion-view>