<ion-header-bar class="headerborder" >
	
	  <div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div>
    <div class="home-head ">
		<p style="margin-top:3px;margin-left:20px">Recent Contributions</p>
	</div> 
        
</ion-header-bar>


<ion-view>
   
       <ion-content >
	   
           <!-- <div class="div1">
            
           
           <div class="row">
             <p class="sub-head">{{recentcontribute}}</p>
           </div>
          
           <div class = "row">
   <div class = "col col1 col-75">Payroll Contributions-DCA</div>
   <div class = "col col2">$10.00</div>
</div>
           </div>
           <div class="div1">
            
          
           <div class="row">
             <p>11/20/2014</p>
           </div>

           <div class = "row">
   <div class = "col col1 col-75">Payroll Contributions-DCA</div>
   <div class = "col col2">$10.00</div>
</div>
            </div>
           <div class="div1">
           
           <div class="row">
             <p>11/06/2014</p>
           </div>
          
           <div class = "row">
   <div class = "col col1 col-75">Payroll Contributions-DCA</div>
   <div class = "col col2">$10.00</div>
</div>
            
           </div>
 <div class="div1">      
           <div class="row">
             <p>10/23/2014</p>
           </div>
                
    

            
           <div class = "row">
   <div class = "col col1 col-75">Payroll Contributions-DCA</div>
   <div class = "col col2">$10.00</div>
</div>
            </div>
 <div class="div1">
            
          
           <div class="row">
             <p>10/09/2014</p>
           </div>
            
           <div class = "row">
   <div class = "col col1 col-75">Payroll Contributions-DCA</div>
   <div class = "col col2">$10.00</div>
</div>
 </div> -->
<div style="height: 200px;"></div>
       </ion-content>
    </ion-view>
	<ion-footer-bar  class="footerborder" >
 
        <p class=" footertext">&copy 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar>