<ion-header-bar>
	  <div class="home-head "  >
		   <img src="img/back_icon.svg" ng-click="goback();"><p style="margin-top:-22px;margin-left:35px">Recent Disbursement</p>
	    </div>
        
</ion-header-bar>

<ion-view>
	<ion-content>
	 
		
		
		<div style="margin-left:20px; margin-top:10px">
			<p class="HeadLine">Fee Date: 07/29/2016</p>
		</div>
		<div>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px";>
			<p class="lineHead">Fee name</p>
			<p class="lineValueText">Outside Investment Transfer</p>
			<p class="lineHead">Amount</p>
			<p class="lineValueText">$100</p>
		</div>
		<br>
		<div style="margin-left:20px; margin-top:10px">
			<p class="HeadLine">Fee Date: 07/29/2016</p>
		</div>
		<div>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px";>
			<p class="lineHead">Fee name</p>
			<p class="lineValueText">To Provider</p>
			<p class="lineHead">Amount</p>
			<p class="lineValueText">$3</p>
		</div>
		<br>
		<div style="margin-left:20px; margin-top:10px">
			<p class="HeadLine">Fee Date: 07/29/2016</p>
		</div>
		<div>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px";>
			<p class="lineHead">Fee name</p>
			<p class="lineValueText">To Provider</p>
			<p class="lineHead">Amount</p>
			<p class="lineValueText">$3</p>
		</div>
		
		<!-- <h4 style="margin-left:5px;color:#496E9B">Fee Date: 07/29/2016</h4>
		<div class="card" >
			<div style="margin-left:20px;"; >
				<p class="content-head"><b>Fee name</b></p>
				<p class="sub-head">Outside Investment transfer</p>
				<p class="content-head"><b>Amount</b></p>
				<p class="sub-head">$179</p>				
			</div>		
		</div>
		<h4 style="margin-left:5px;color:#496E9B">Fee Date: 07/29/2016</h4>
		<div class="card" >
			<div style="margin-left:20px;"; >
				<p class="content-head"><b>Fee name</b></p>
				<p class="sub-head">To Provider</p>
				<p class="content-head"><b>Amount</b></p>
				<p class="sub-head">$179</p>				
			</div>		
		</div>
		<h4 style="margin-left:5px;color:#496E9B">Fee Date: 07/29/2016</h4>
		<div class="card" >
			<div style="margin-left:20px;"; >
				<p class="content-head"><b>Fee name</b></p>
				<p class="sub-head">To Provider</p>
				<p class="content-head"><b>Amount</b></p>
				<p class="sub-head">$179</p>				
			</div>		
		</div> -->
		
		 
		<h3 class=" hide" > <strong> <i class="ion ion-arrow-left-a" onclick="window.history.back();"></i > Recent Disbrusement</strong></h3>
		<div class="div1" ng-repeat="data in transcation_list">
			<div class="row">
				<p  class="sub-head">{{data.FEE_DATE}}</p>
			</div>
			<div class = "row">
				<div class = "col col1 col-75">{{data.FEE_NAME}}</div>
				<div class = "col col2">{{data.AMOUNT}}</div>
			</div>
		</div>
		<div style="height: 200px;"></div>
	</ion-content>
</ion-view>