<ion-header-bar class="headerborder" >
	 
		
    <div class="home-head " ng-click="goback();">
		<img src="img/back_icon.svg" >
    </div>
    <div class="home-head ">
		<p style="margin-top:3px;margin-left:20px">Scheduled Disbursement</p>
	</div> 
        
</ion-header-bar>

<ion-view>
    <head>
		<style>
			.col11{
				background:#aebcd7;
				padding: 10px;
				text-align: center;
			}
			.col12{
				background:#fdf2e9;
				padding: 10px;
				text-align: center;
				
			}
			.p{
				color:#5dade2;
			}
		</style>
    </head>
	<ion-content>
		 <div class="div1 " ng-repeat="data in schedule_list">   
		  <div style="margin-left:20px; margin-top:33px">
			<p class="HeadLine">Transaction Date: {{data.TXN_DATE}}</p>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px">
			<p><span class="lineHead">Transaction Id</span><br><span class="lineValueText">{{data.TXN_ID}}</span></p>
			<p><span class="lineHead">Amount</span><br><span class="lineValueText">{{data.AMOUNT}}</span></p>
			<p><span class="lineHead">Status</span><br><span class="lineValueText">{{data.STATUS}}</span></p>
		</div>
		</div>
		 </ion-content>
</ion-view>
<ion-footer-bar  class="footerborder" >
 
        <p class=" footertext">© 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar>