<ion-header-bar class="headerborder" >
	<div class="home-head "  >
		<img src="img/back_icon.svg" ng-click="goback();"><p style="margin-top:-22px;margin-left:41px">Tax Year</p>
	</div>
</ion-header-bar>
<ion-view >
	<ion-content>
		<div style="margin-left:20px; margin-top:32px">
			<p class="HeadLine">Contributions</p>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px">
			<p><span class="lineHead">Contributions Made in 2015 for 2015</span><br><span class="lineValueText">$1200.00</span></p>
			<p><span class="lineHead">Contributions Made in 2015 for 2014</span><br><span class="lineValueText">$0.00</span></p>
		</div>
		<div style="margin-left:20px; margin-top:20px">
			<p class="HeadLine">Disbursements/Distributions</p>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px">
			<p><span class="lineHead">Disbursements/Distributions</span><br><span class="lineValueText">$1761.29</span></p>
		</div>
		<div style="margin-left:20px; margin-top:20px">
			<p class="HeadLine">Interest Paid</p>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px">
			<p><span class="lineHead">Disbursements/Distributions</span><br><span class="lineValueText">$1.04</span></p>
		</div>
		<div style="margin-left:20px; margin-top:20px">
			<p class="HeadLine">Tax Statements</p>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px">
			<p><span class="lineHead">1.Form 1099-SA</span><br><span class="lineValueText">Download</span></p>
			<p><span class="lineHead">2.Form 5498-SA</span><br><span class="lineValueText">Download</span></p>
		</div>
    </ion-content>
</ion-view>
