<ion-header-bar>
	<div class="home-head "  >
		<img src="img/back_icon.svg" ng-click="goback();"><p style="margin-top:-22px;margin-left:35px">Tax Year</p>
	</div>
</ion-header-bar>
<ion-view >
	<ion-content>
		<div style="margin-left:20px; margin-top:10px">
			<p class="HeadLine">Contributions</p>
		</div>
		<div>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px";>
			<p class="lineHead">Contributions Made in 2015 for 2015</p>
			<p class="lineValueText">$1200.00</p>
			<p class="lineHead">Contributions Made in 2015 for 2014</p>
			<p class="lineValueText">$0.00</p>
		</div>
		<br>
		<div style="margin-left:20px; margin-top:10px">
			<p class="HeadLine">Disbursements/Distributions</p>
		</div>
		<div>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px";>
			<p class="lineHead">Disbursements/Distributions</p>
			<p class="lineValueText">$1761.29</p>
		</div>
		<br>
		<div style="margin-left:20px; margin-top:10px">
			<p class="HeadLine">Interest Paid</p>
		</div>
		<div>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px";>
			<p class="lineHead">Disbursements/Distributions</p>
			<p class="lineValueText">$1.04</p>
		</div>
		<br>
		<div style="margin-left:20px; margin-top:10px">
			<p class="HeadLine">Tax Statements</p>
		</div>
		<div>
			<p class="lineBreak"></p>
		</div>
		<div style="margin-left:20px; margin-top:10px";>
			<p class="lineHead">1.Form 1099-SA</p>
			<p class="lineValueText">Download </p>
			<p class="lineHead">2.Form 5498-SA</p>
			<p class="lineValueText">Download </p>
		</div>
    </ion-content>
</ion-view>
