<ion-view >
  <ion-content >
		
    <div class="home-head lineBreakHeader" ng-click="goback();" >
		<p ><img src="img/back_icon.svg">&nbsp;&nbsp;<span> Tax Year</span></p>
	</div>
    
    <!-- <div class="row">
        <div class="col col-center">
          <h3 class=""><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i > Tax Year 2015</h3> 
    
        </div>
        
      </div>
	   -->
	  
	  
	  
	  
	 
		
		<h4 style="margin-left:5px;color:#496E9B">Contributions </h4>
		<div class="card" >
			<div style="margin-left:20px;"; >
                <p class="content-head"><b>Contributions Made in 2015 for 2016</b></p>
				<p class="sub-head">$0.00</p>
                
                <p class="sub-head" style="color:red">pending</p>
				
			</div>		
		</div>
		
	  <h4 style="margin-left:5px;color:#496E9B">Disbursements/Distributions </h4>
		<div class="card" >
			<div style="margin-left:20px;"; >
                <p class="content-head"><b>Contributions Made in 2015 for 2014</b></p>
				<p class="sub-head">$0.00</p>
                
                <p  class="sub-head" style="color:red">pending</p>
				
			</div>		
		</div>
		
		
		
		<div class="card" >
			<div style="margin-left:20px;"; >
                <p class="content-head"><b>Disbursements/Distributions</b></p>
				<p class="sub-head">$0.00</p>
                
                <p style="color:red">pending</p>
				
			</div>		
		</div>
		
		 <h4 style="margin-left:5px;color:#496E9B">Interest Paid </h4>
		<div class="card" >
			<div style="margin-left:20px;"; >
                <p class="content-head"><b>Contributions Made in 2015 for 2014</b></p>
				<p class="sub-head">$0.00</p>
                
                <p class="sub-head" style="color:red">pending</p>
				
			</div>		
		</div>
		
      <!--  <h4 style="text-align: center;">Contributions</h4>
   
       <div class="list list-inset">
  <label class="item item-input">
     <div class="row">
      <div class="col col-80">
       
    <p>Contributions Made in 2015 for 2016</p>
      </div>
      <div class="col col-30">
       <p>$0.00</p>
    
      </div>
     </div>
   </label>
  </div>
     
     <h4 style="text-align: center;">Disbursements/Distributions</h4>
     <div class="list list-inset">
  <label class="item item-input">
     <div class="row">
      <div class="col col-80">
       
    <p>Contributions Made in 2015 for 2014</p>
      </div>
      <div class="col col-30">
       <p>$0.00</p>
    
      </div>
     </div>
   </label>
  </div>
     
      
       <div class="list list-inset">
  <label class="item item-input">
          <div class="row">
      <div class="col col-80">
        <p>Disbursements/Distributions</p>
   
      </div>
      <div class="col col-30">
       <p>$0.00</p>
    
      </div>
      
    </div>
 
          
    
    </label>
  </div>
   
      <h4 style="text-align: center;">Interest Paid</h4>
   <div class="list list-inset">
  <label class="item item-input">
    <div class="row">
      <div class="col col-80">
        <p>Disbursements/Distributions</p>
   
      </div>
      <div class="col col-30">
       <p>$0.00</p>
    
      </div>
      
</div>
  </label>
   </div>
   <h3 style="color: #64b5f6;text-align: center;font-weight: bold;">Tax Statements</h3>
   <div class="card">
    <a class="item item-avatar">
       
      <img src="img/th.jpeg">
        <p>1.Form 1099-SA</p>
   
       </a>

    
   </div>
    <div class="card">
   <a class="item item-avatar">
       
      <img src="img/th.jpeg">
        <p>2.Form 5498-SA</p>
   
       </a>

    
   </div>
    -->
    </ion-content>
</ion-view>
